#title_home {
    pointer-events: none; /* makes the title of website unclickable on home page (already on home) */
}

.opportunity-selector-outer {
    height: 24px;
    width: calc(100% - 16px);
    overflow: hidden;
    display: block;
    background-color: darkgoldenrod;
    padding: 4px 8px 6px 8px;
}

#opportunity-selector {
    width: 100%;
    height: 100%;
    background-color: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 8px;
}

.opportunity-jumpto {
    background-color: rgba(0,0,0,0.25);
    height: 100%;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    border-radius: 4px;
}

.opportunity-jumpto:hover {
    background-color: rgba(0,0,0,0.35);
}

.current, .current:hover {
    background-color: rgba(0,0,0,0.5);
}

.opportunities-wrapper {
    display: block;
    height: 400px;
    width: calc(100% - 12px);
    background-color: darkgoldenrod;
    padding: 6px;
    overflow: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;
    white-space: nowrap;
    overflow-y: auto;
}

.opportunity {
    display: flex;
    justify-content: flex-start;
    height: 370px;
    max-height: 370px;
    width: calc(100% - 32px);
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 15px;
    box-shadow: 2px 2px 4px rgba(0,0,0, 0.25);
    white-space: wrap;
    transition: opacity 1.5s;
    position: absolute;
    left: 0;
    line-height: 1.6;
    overflow-y: auto;
    overflow-x: hidden;
}

.opportunity-content {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 20px);
    justify-content: space-between;
    overflow-y: auto;
}

.opportunity-image {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
    cursor: zoom-in;
}

.opportunity-title {
    font-family: "Instrument Serif", sans-serif;
    font-size: 48px;
    line-height: 1.4;
}

.opportunity-details {
    font-family: "Instrument Serif", sans-serif;
    font-size: 24px;
    color: #222;
}

.opportunity-details a {
    color: black;
}

.opportunity-description {
    font-family: "Instrument Sans", sans-serif;
    font-size: 18px;
}

.opportunity-bottom {
    width: 100%;
    align-self: flex-end;
    flex-direction: row;
}

.opportunity-hours {
    color: gray;
    font-size: 24px;
    float: right;
    margin-top: 12px;
    margin-right: 6px;
}

.opportunity-button {
    background-color: gold;
    border-color: black;
    border-width: 1px;
    border-radius: 4px;
    font-size: 32px;
    font-family: "Alegreya", sans-serif;
    padding: 4px 16px 4px 16px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    color: black;
}

.opportunity-button:hover {
    background-color: #ffe369;
}

.news {
    display: flow-root;
    width: calc(100% - 18px);
    min-height: 400px;
    margin: 4px;
    padding: 4px;
    box-shadow: 0px 0px 6px rgba(0,0,0, 0.3);
    background-color: rgb(240,240,240);
    border-radius: 4px;
    line-height: 1.6;
}

.news-content {
    padding: 6px;
    margin: 6px;
    font-size: 20px;
}

.news-content::after { /* clearfix */
    content: "";
    clear: both;
    display: table;
}

.news-title {
    font-family: "Alata";
    font-size: 40px;
}

.news-date {
    font-family: "Instrument Serif";
    font-size: 20px;
}

.news-image {
    height: 400px;
    width: 400px;
    margin: 6px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
    background-size: cover;
    background-position: center;
    float: right;
    display: flex;
}

@media only screen and (max-width: 768px) {
    .opportunities-wrapper {
        scrollbar-width: auto;
    }

    .opportunity-content {
        width: 100%;
    }

    .opportunity-image {
        width: 100%;
        height: 100px;
    }

    .opportunity {
        flex-direction: column-reverse;
        height: auto;
    }

    .opportunity-title {
        font-size: 32px;
    }

    .opportunity-details {
        font-size: 18px;
    }

    .opportunity-description {
        font-size: 16px;
    }

    .opportunity-button {
        margin-top: 8px;
        font-size: 24px;
    }

    .opportunity-hours {
        margin-right: 12px;
    }
    
    .news-content {
        margin-left: 16px;
    }

    .news-image {
        width: 100%;
    }
}

@media (min-aspect-ratio: 2/1) and (min-width: 3440px) {
    .opportunity {
        width: 75%;
        left: 12.5%;
    }
    #opportunity-selector {
        width: calc(75% + 28px);
        left: 12.5%;
        height: 24px;
        position: relative;
    }
    .news {
        width: 75%;
        left: 12.5%;
        position: relative;
    }
}