@import url('https://fonts.googleapis.com/css2?family=Alata&family=Alegreya:ital,wght@0,400..900;1,400..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Instrument+Serif:ital@0;1&display=swap');

body, html {
    font-family: "EB Garamond", sans-serif;
    font-size: 20px;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}


#content_wrapper {
    height: calc(100% - 220px);
    width: 100%;
    margin: 0;
    padding: 0;
}

.content {
    margin: 8px;
    padding: 8px;
}

.centered-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    display: block;
    position: sticky;
    top: 0px;
    user-select: none;
    z-index: 99;
}

#topheader {
    display: flex;
    height: 150px;
    border-bottom: 1px solid gray;
    justify-content: left;
    align-items: center;
    background-image: url("../resources/images/sitebanner_repeat.png");
    background-size: auto 150px;
    background-repeat: repeat-x;
    overflow-x: hidden;
}

#sitebanner {
    display: flex;
    height: 150px;
    width: 1920px;
    margin-left: 10px;
    transition: 0.4s;
    z-index: 0;
}

#home-clickable {
    display: block;
    position: fixed;
    z-index: 1;
    height: 90px;
    width: 625px;
    top: 35px;
    left: 25px;
}

#sitelogo {
    position: absolute;
    left: calc(100% - 270px);
    top: 0px;
    height: 150px;
    width: 123px;
    transition: 0.4s;
}

#crlogoouter {
    position: absolute;
    right: 10px;
    transition: 0.4s;
}

#crlogoouter img {
    height: 125px;
    width: 125px;
    transition: 0.4s;
}

#photo-viewer-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.75);
    z-index: 101;
    transition: 0.15s;
}

#photo-viewer {
    height: 75%;
    width: 75%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: fixed;
    left: 12.5%;
    top: 12.5%;
}

.photo-viewer-close {
    display: block;
    position: fixed;
    right: 20px;
    top: 20px;
    font-size: 32px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    font-family: "Instrument Sans", sans-serif;
    border-radius: 4px;
    transition: 0.2s ease-in-out;
}

.photo-viewer-close:hover {
    color: black;
    background-color: white;
}

.navbar {
    background: #333;
    background-blend-mode: darken;
    background-size: cover;
    color: white;
    padding: 10px 0px;
    font-family: "Alata", sans-serif;
    font-width: 0.75px;
    height: 50px;
    bottom: 0px;
}

.nav-list {
    display: flex;
    list-style: none;
    transition: 0.2s ease-in-out;
}

.nav-list li {
    margin-right: 20px;
    margin-left: 0px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    transition: color 0.15s ease-in-out;
}

.nav-list li a:hover, .nav-list li a.curr, #hamburger a:hover {
    color: #ffd700;
}

a.curr {
    pointer-events: none;
}

#hamburger {
    display: none;
    font-size: 36px;
    transition: color 0.15s ease-in-out;
    margin-right: auto;
    margin-left: 15px;
    cursor: pointer;
}

#hamburger a {
    text-decoration: none;
    color: white;
}

#loading-bar-outer {
    display: block;
    height: 3px;
    width: 100%;
    overflow-x: hidden;
    z-index: 100;
    position: absolute;
    top: 0px;
    left: 0px;
}

#loading-bar-inner {
    display: none;
    position: relative;
    height: 3px;
    width: 0;
    background-color: gold;
    animation: loading 3s infinite;
    opacity: 1;
    transition: 0.2s;
}

@keyframes loading {
    0% {
        width: 0;
        left: 0;
    }
    50% {
        width: 50%;
    }
    100% {
        left: 100%;
    }
}

#announcement-banner {
    display: block;
    width: calc(100% - 8px);
    background-color: gold;
    padding: 4px;
    font-family: "Alata", sans-serif;
    text-align: center;
    font-weight: 300;
}

#announcement-banner a {
    text-decoration: none;
    color: black;
    float: right;
    margin-right: 5px;
}

#innerviewframe {
    height: 100%;
    width: 100%;
    border: none;
}

#pageError {
    display: flex;
    margin: auto;
}

#footer {
    background-color: #222;
    display: block;
    color: white;
    height: 350px;
}

#footer-content {
    display: grid;
    grid-template-columns: 40fr 20fr 40fr;
    grid-template-rows: 85fr 15fr;
    grid-template-areas:
        "left-footer center-footer right-footer"
        "bottom-footer bottom-footer bottom-footer";
    height: 100%;
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

#footer-left, #footer-center, #footer-right {
    display: flex;
    padding: 10px;
}

#footer-bottom {
    grid-area: bottom-footer;
}

#footer-bottom .centered-items a {
    margin: 0px 10px 0px 10px;
}

#footer-ending {
    text-align: center;
    text-decoration: italic;
    color: gray;
}

#footer-left {
    padding: 6px 20px 6px 20px;
    grid-area: left-footer;
}

#footer-center {
    grid-area: center-footer;
}

#footer-center img {
    display: flex;
    margin: auto;
}

#footer-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: right-footer;
}

#footer-right table {
    width: 100%;
    text-align: center;
    max-width: 450px;
}

#footer-right a {
    color: white;
}

.gray {
    color: gray;
}

.fade {
    opacity: 0;
}

@media only screen and (max-width: 960px) {
    #topheader {
        height: 75px;
        overflow: hidden;
    }
    #sitelogo {
        left: calc(50% - 61.5px);
    }
    #crlogoouter {
        right: calc(50% - 62.5px);
    }
    #crlogoouter img {
        height: 62.5px;
        width: 62.5px;
    }
    #sitelogo {
        height: 75px;
        width: 61.5px;
    }
    #sitebanner {
        opacity: 0;
    }
    .navbar {
        height: auto;
        flex-direction: column;
    }
    .nav-list {
        flex-direction: column;
        position: fixed;
        left: -100%;
        width: 100%;
        top: 125px;
        padding: 0px;
        background-color: #333;
        overflow-y: auto;
        max-height: calc(100% - 200px);
    }
    .nav-list.shown {
        left: 0%;
    }
    .nav-list li {
        margin: 20px 30px 30px 30px;
    }
    #hamburger {
        display: flex;
        margin-left: 25px;
    }
    #footer {
        height: auto;
    }
    #footer-content {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas:
            "center-footer"
            "left-footer"
            "right-footer"
            "bottom-footer";
    }
    #content-wrapper {
        height: calc(100% - 125px);
    }
}